span.title {
	font-size: 16pt;
	line-height: 18pt;
}
h3.closer {
	line-height: 22pt;
}

li {
	margin: 0 0 20pt 0;
}
h6.taglist {
	line-height: 22pt;
}
span.taglink {
	padding: 1pt 3pt 1pt 3pt;
	background-color: #DDDDDD;
	border: 2pt solid #BBBBBB;
	white-space: nowrap;
}
pre {
	white-space: pre;
	overflow: auto;
	background-color: #EFEFEF;
	border: 1pt solid #DDDDDD;

}
p.textblock {
	text-align: justify;
}

/* Gradient buttons */
.btn-gradient {
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
/* Gradient - ugly css is ugly */
.btn-gradient.cyan {
	background: rgba(27,188,194,1);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(27,188,194,1)), to(rgba(24,163,168,1)));
	background: -webkit-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
	background: -moz-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
	background: -o-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
	background: linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bbcc2', endColorstr='#18a3a8', GradientType=0);
}

